@mixin heightAndWidth($height, $width) {
	height: $height;
	width: $width;
}

@mixin flexCenter($flex-direction) {
	display: flex;
	flex-direction: $flex-direction;
	place-items: center;
}

@mixin buttonGenerated($background-color, $color) {
	background-color: $background-color;
	color: $color;
	border-radius: 50px;
	box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
	font-weight: 900;
}

@mixin backgroundGenerated($folderNumber, $ellipse2, $ellipse1, $imgContainer) {
	background-image: url("../.././img/background-img/container" + $folderNumber + "/" + $ellipse2 + ".svg"),
		url("../.././img/background-img/container" + $folderNumber + "/" + $ellipse1 + ".svg"),
		url("../.././img/background-img/container" + $folderNumber + "/" + $imgContainer + ".svg");
}

//
/* 	background-image: url("../.././img/background-img/container1/ellipse1-1.svg"),
		url("../.././img/background-img/container1/ellipse1.svg"),
		url("../.././img/background-img/container1/container1.svg"); */
