a:hover,
button:hover {
	font-weight: bold;
	transform: translateY(-10px);
	transition: transform 0.5s;
}
.btn-request {
	@include heightAndWidth(30px, 150px);
	@include buttonGenerated(#fff, $bigFontColor);
}
.btn-learnMore {
	@include heightAndWidth(50px, 200px);
	@include buttonGenerated(#9c69e2, #fff);
	margin-bottom: 2rem;
}

.footer-learnMore {
	@include heightAndWidth(30px, 100px);
	margin-bottom: 0;
	background-color: #f063b8;
}

@media (min-width: 1024px) {
	.footer-learnMore {
		@include heightAndWidth(60px, 170px);
	}
	.btn-request {
		@include heightAndWidth(60px, 210px);
	}
}
