footer {
	text-align: center;
	margin-top: 2.5rem;

	.demo {
		margin-bottom: 5rem;
	}

	.contact {
		&-address-logo {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			h2 {
				flex-basis: 65%;
			}
		}
		.contact-links {
			display: flex;
			&-ul {
				text-align: center;
				@include flexCenter(column);
				gap: 10px;
			}
			&-about {
				ul {
					padding-left: 10px;
				}
			}
		}
	}
}

// Medium Screen
@media (min-width: 768px) {
	footer {
		text-align: left;
		.demo {
			@include flexCenter(row);

			&-content {
				flex-basis: 50%;
			}
			&-button {
				flex-basis: 50%;
				display: flex;
				justify-content: space-evenly;
			}
		}

		.contact {
			@include flexCenter(row);
		}
	}
}

// Large Screen
@media (min-width: 1024px) {
	footer {
		.contact {
			justify-content: space-between;
			ul {
				@include flexCenter(row);
				flex-wrap: wrap;
				:first-child {
					flex-basis: 100%;
				}
			}
		}
	}
}
