.flex-container {
	background-position: center;
	background-repeat: no-repeat;
}
.background-1 {
	background-image: url("../.././img/background-img/container1/ellipse1-1.svg"),
		url("../.././img/background-img/container1/ellipse1.svg"),
		url("../.././img/background-img/container1/container1.svg");
}
.background-2 {
	background-image: url("../.././img/background-img/container2/ellipse2.svg"),
		url("../.././img/background-img/container2/container2.svg");
}
.background-3 {
	background-image: url("../.././img/background-img/container3/ellipse3.svg"),
		url("../.././img/background-img/container3/container3.svg");
}
.background-4 {
	background-image: url("../.././img/background-img/container4/ellipse4-1.svg"),
		url("../.././img/background-img/container4/ellipse4.svg"),
		url("../.././img/background-img/container4/container4.svg");
}

// Display none on small-screen
.displayImg {
	display: none;
}

/* Big-screen */
@media (min-width: 1024px) {
	.displayImg {
		display: block;
		position: absolute;
		top: 30%;
		right: 65%;
	}

	.adjustEllipsed-1 {
		background-position: top 10% right 35%, top -20% right 10%, 0%;
	}
	.adjustEllipsed-2 {
		background-position: bottom right, 0%;
	}
	.adjustEllipsed-3 {
		background-position: top 5% right 10%, 0%;
	}
	.adjustEllipsed-4 {
		background-position: bottom 10% right 5%, top left, 0%;
	}
}

/* Extra Large */
@media (min-width: 1440px) {
	.displayImg {
		right: 75%;
	}
}
