.header {
	@include flexCenter(row);
	margin-top: 1rem;
	margin-bottom: 3rem;

	.navbar {
		flex-basis: 100%;

		ul {
			display: flex;
			place-content: space-evenly;
			padding: 0;

			.active {
				font-weight: bold;
				transform: translateY(-1px);
			}
		}
		div {
			text-align-last: center;
			button {
				@include heightAndWidth(30px, 150px);
				color: $bigFontColor;
				background-color: #fff;
				box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
				border-radius: 50px;
				font-weight: 900;
			}
		}
	}
}

@media (min-width: 768px) {
	body {
		padding: 0 6rem;
		.header {
			.navbar {
				@include flexCenter(row);
				ul {
					flex-basis: 60%;
				}
				div {
					flex-basis: 40%;
					button {
						@include heightAndWidth(40px, 200px);
					}
				}
			}
		}
	}
}
