.header {
	@include flexCenter(row);
	margin-top: 1rem;
	margin-bottom: 3rem;

	.navbar {
		flex-basis: 100%;

		ul {
			display: flex;
			place-content: space-evenly;
			padding: 0;
		}
		div {
			text-align-last: center;
			
		}
	}
}

@media (min-width: 768px) {
	body {
		.header {
			.navbar {
				@include flexCenter(row);
				ul {
					flex-basis: 50%;
				}
				div {
					flex-basis: 50%;
					button {
						@include heightAndWidth(40px, 200px);
					}
				}
			}
		}
	}
}
